body {
  background: url(../images/so-white.png);
}

#logo {
  font-family: "Bruno Ace SC", cursive;
}

.main-container {
  min-height: 100vh;
}

.jumbotron {
  background: url(../images/headlight-background.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.form-control {
  text-transform: uppercase;
}

.test-vin {
  color: black;
  text-align: center;
}

.test-vin:hover {
  cursor: pointer;
}

.test-vins {
  min-height: 0;
  min-width: 0;
  position: absolute;
}
