body {
  background: url(../images/so-white.png);
}

.main-container {
  display: grid;
  grid-template-areas:
    "search search"
    "toggle toggle"
    "main1 main2";
  gap: 10px;
  margin: 10px 50px 50px 50px;
}

.input-group {
  grid-area: search;
}

#attribute-toggle {
  grid-area: toggle;
}

#compare-container-1 {
  grid-area: main1;
}

#compare-container-2 {
  grid-area: main2;
}

.jumbotron {
  background: url(../images/headlight-background.jpg);
  background-size: cover;
  background-position-y: -435px;
  color: #ffffff;
}

.form-control {
  text-transform: uppercase;
}

.test-vin {
  color: black;
  text-align: center;
}

.test-vin:hover {
  cursor: pointer;
}

.test-vins {
  min-height: 0;
  min-width: 0;
  position: absolute;
}

.btn {
  width: 90px;
}

#clear-btn {
  width: 60px;
}

.compare-inner-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1800px) {
  .jumbotron {
    background-position-y: -560px;
  }
}
@media only screen and (max-width: 980px) {
  .test-vins {
    position: relative;
  }
}
