body {
  background: url(../images/so-white.png);
}

.main-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.jumbotron {
  background: url(../images/headlight-background.jpg);
  background-size: cover;
  background-position-y: -435px;
  color: #ffffff;
}

.form-control {
  text-transform: uppercase;
}

.test-vin {
  color: black;
  text-align: center;
}

.test-vin:hover {
  cursor: pointer;
}

.list-group {
  min-height: 450px;
  min-width: 650px;
}

.compare-container {
  display: flex;
  justify-content: center;
}

.input-group {
  max-width: 775px;
  align-self: center;
  padding-bottom: 15px;
}

.test-vins {
  min-height: 0;
  min-width: 0;
  position: absolute;
  left: 40px;
}

.btn {
  width: 90px;
}

#clear-btn {
  width: 60px;
}

.compare-inner-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1800px) {
  .jumbotron {
    background-position-y: -560px;
  }
}
@media only screen and (max-width: 980px) {
  .test-vins {
    position: relative;
  }
}
